<a href="https://colab.research.google.com/github/22pa5a6105/dwm-lab1/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({"roll no":["101","102","103"],"name":["ravi","siva","raju"]})
df

  roll no  name
0     101  ravi
1     102  siva
2     103  raju

In [ ]:
import pandas as pd

In [2]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Copy of students_placement_data.csv")
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,21.20,0,yes,Placed
2,3,F,A,67.0,40.2,NaN,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,44.0,65.5,42.52,17,yes,Not placed

In [ ]:
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                      True
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [ ]:
df.describe

<bound method NDFrame.describe of      Roll No Gender Section  SSC Percentage  inter_Diploma_percentage  \
0          1      M       A            87.3                     65.30
1          2      F       A            89.0                     92.40
2          3      F       A            67.0                     40.20
3          4      M       A            71.0                     70.40
4          5      M       A            44.0                     65.50
..       ...    ...     ...             ...                       ...
112      113      M       B            81.1                     78.60
113      114      M       B            81.3                     85.12
114      115      M       B            83.5                     89.90
115      116      M       B            85.5                     90.63
116      117      M       B            80.0                     83.33

     B.Tech_percentage  Backlogs registered_for_ Placement_Training  \
0                40.00        18                                 NO
1                21.20         0                                yes
2                  NaN        13                                yes
3                36.47        17                                yes
4                42.52        17                                yes
..                 ...       ...                                ...
112              35.84        16                                 NO
113              68.50         0                                 NO
114              76.30         0                                 NO
115              74.50         0                                 NO
116              65.53         0                                 NO

    placement status
0         Not placed
1             Placed
2         Not placed
3         Not placed
4         Not placed
..               ...
112       Not placed
113       Not placed
114       Not placed
115       Not placed
116       Not placed

[117 rows x 9 columns]>

In [ ]:
df.shape

(117, 9)

In [ ]:
import plotly.express as px
cut_counts = df['Gender'].value_counts()
fig = px.bar(x=cut_counts.index, y=cut_counts.values)
fig.show()

In [ ]:
import numpy as np
pd.pivot_table(df, values='B.Tech_percentage', index='Gender', columns='placement status',aggfunc=np.mean)

placement status  Not placed     Placed
Gender
F                  66.360526  73.531379
M                  54.825345  69.574000

In [ ]:
pd.crosstab(index=df['Gender'], columns=df['placement status'])

placement status  Not placed  Placed
Gender
F                         20      29
M                         58      10

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
cols_to_scale =['SSC Percentage','inter_Diploma_percentage','B.Tech_percentage']

Scaler =StandardScaler()
Scaler.fit(df[cols_to_scale])
df[cols_to_scale] = Scaler.transform(df[cols_to_scale])
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,0.758550,-1.294643,-1.807695,18,NO,Not placed
1,2,F,A,0.938989,1.008221,-3.307283,0,yes,Placed
2,3,F,A,-1.396109,-3.427555,NaN,13,yes,Not placed
3,4,M,A,-0.971545,-0.861263,-2.089267,17,yes,Not placed
4,5,M,A,-3.837348,-1.277648,-1.606687,17,yes,Not placed

In [ ]:
from sklearn.preprocessing import MinMaxScaler
cols_to_scale =['SSC Percentage','inter_Diploma_percentage','B.Tech_percentage']
Scaler = MinMaxScaler(feature_range=(0,5))
Scaler.fit(df[cols_to_scale])
df[cols_to_scale] = Scaler.transform(df[cols_to_scale])
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,4.359646,2.213404,1.405082,18,NO,Not placed
1,2,F,A,4.530810,4.603175,0.000000,0,yes,Placed
2,3,F,A,2.315747,0.000000,NaN,13,yes,Not placed
3,4,M,A,2.718486,2.663139,1.141256,17,yes,Not placed
4,5,M,A,0.000000,2.231041,1.593423,17,yes,Not placed

In [3]:
X=df[["Gender","Section","SSC Percentage","inter_Diploma_percentage","B.Tech_percentage","Backlogs","registered_for_ Placement_Training"]].values

In [7]:
y=df["placement status"]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [13]:
X_train.shape

(93, 7)

In [14]:
X_test.shape

(24, 7)

In [15]:
y_train.shape

(93,)

In [16]:
y_test.shape

(24,)